@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;

}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
    font-size: 24px;
}

.container {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    max-width: 80vw;
    margin: auto;
}

.container h1,
h2 {
    margin: 23px 0;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    font-size: 25px;
}

.container form input[type="number"],
select,
label {
    font-size: 25px;
    width: 23vw;
    margin-bottom: 23px;
}

.btn {
    width: 144px;
    padding: 5px 8px;
    font-size: 20px;
    background: #e0d0f5;
    color: black;
    border-radius: 13px;
    cursor: pointer;
}

footer {
    text-align: center;
}

nav {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    display: flex;
    font-size: 20px;
    background-color: rgb(224, 209, 245);
    padding: 23px;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul {
    display: flex;
    margin: 10px;
}

nav li a {
    text-decoration: none;
    color: rgb(2, 3, 18);
    transition: all;
    transition-duration: 500ms;
}

nav li a:hover {
    text-decoration: none;
    color: rgb(103, 101, 235);
}